<header style="position: sticky; top: 0; background: #fafafa; border-bottom: 1px solid #e0e0e0; z-index: 1000;">
  <div style="display: flex; justify-content: space-between; align-items: center; max-width: 1000px; margin: 0 auto; padding: 1rem 2rem;">
   <!-- Logo / Schriftzug -->
    <div>
      <a href="/">
        <img src="/assets/images/logo.png" alt="Enterstry Logo" style="height: 25px;">
        <img src="/assets/images/company.png" alt="Enterstry Logo" style="height: 30px;">
      </a>
    </div>

 <!-- Navigation -->
    <nav>
      <a href="/" class="nav-link">Start</a>
      <a href="/#wie-ich-arbeite" class="nav-link">Wie ich arbeite</a>
      <a href="/#angebote-auf-einen-blick" class="nav-link">Angebote</a>
      <a href="/#kontakt" class="nav-link">Kontakt</a>
      <a href="/ueber-mich/" class="nav-link">Über mich</a>
      <a href="{{ '/blog/' | relative_url }}" class="nav-link">Blog</a>
    </nav>
  </div>
</header>