h2, h3, h4 {
  margin-top: 2rem; 
  margin-bottom: 1rem; 
  /*font-weight: bold;*/
  /*color: darkred; */ 
}

hr {
  margin-top: -0.5rem;   /* weniger Abstand nach oben */
  margin-bottom: 1.5rem;  /* mehr Abstand nach unten */
}

p {
  margin-bottom: 10px;
}

section, h2, h3 {
  scroll-margin-top: 80px;
}
